.experience__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
}

.experience__background {
  height: 128px;
  width: calc((100% - 1000px)/2);
  min-width: 16px;
  background-color: #161616;
  z-index: 1;
}

.experience__conveyor {
  position: relative;
  display: flex;
  padding-top: 80px;
  width: calc(100% - 32px);
  max-width: 1000px;
  background-color: transparent;
  transition: padding 300ms;
}

.experience__start,
.experience__end {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 80px;
  height: 128px;
  width: 128px;
  background-color: #444;
  border-radius: 8px;
  z-index: 1;
  transition: top 300ms, height 300ms, width 300ms;
}

.experience__end {
  right: 0;
}

@keyframes glow {
  0% {
    filter: brightness(1);
  }

  80% {
    filter: brightness(1);
    box-shadow: none;
  }

  90% {
    filter: brightness(2);
    box-shadow: 0 0 24px #f8f8f820;
  }

  100% {
    filter: brightness(1);
    box-shadow: none;
  }
}

.experience__red,
.experience__green {
  margin: 16px 0;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  transition: height 300ms, width 300ms;
}

.experience__red {
  background-color: #800000;
  animation: glow 2s infinite;
}

.experience__green {
  background-color: #008000;
  animation: glow 2s -1s infinite;
}

.experience--languages {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes conveyor {
  from {
    translate: 0 0;
  }

  to {
    translate: -2048px 0;
  }
}

.left {
  animation: conveyor 32s linear infinite;
}

.right {
  flex-direction: row-reverse;
  animation: conveyor 32s linear infinite reverse;
}

.experience__language {
  display: flex;
  align-items: center;
  height: 128px;
  width: 128px;
  padding: 16px;
  cursor: pointer;
  transition: height 300ms, width 300ms, scale 200ms, opacity 200ms;
}

.experience__language:hover {
  scale: 0.9;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .experience__conveyor {
    padding-top: 64px;
  }

  .experience__start,
  .experience__end {
    top: 64px
  }

  .experience__start,
  .experience__end,
  .experience__language {
    height: 96px;
    width: 96px;
  }
}

@media (max-width: 480px) {

  .experience__start,
  .experience__end,
  .experience__language {
    height: 64px;
    width: 64px;
  }

  .experience__red,
  .experience__green {
    height: 12px;
    width: 12px;
  }
}