.contact__form {
  margin-top: -460px;
  display: flex;
  flex-direction: column;
  width: 60%;
  z-index: 1;
}

.contact__box {
  width: 100%;
}

.contact__input,
.contact__error {
  margin: 4px;
  padding: 16px;
  background-color: #333333dd;
  border: none;
  border-bottom: 4px solid transparent;
  border-radius: 8px;
  outline: none;
  color: #f8f8f8;
  font-size: 16px;
  font-weight: 300;
  transition: border-bottom 150ms;
}

.contact__error {
  background-color: #ff000088;
  transition: opacity 150ms;
}

.contact__name,
.contact__email {
  width: calc(50% - 8px);
}

.contact__message {
  height: 200px;
  max-height: 520px;
  min-height: 64px;
  max-width: calc(100% - 8px);
  resize: vertical;
}

.contact__submit {
  cursor: pointer;
}

.contact__input:hover {
  border-bottom: 4px solid #44aa4444;
}

.contact__input:focus {
  border-bottom: 4px solid #66ff6688;
}