.intro__text {
  padding-right: 48px;
  max-width: 600px;
  margin-top: calc(108px + 18%);
  margin-right: 10%;
  margin-right: calc(8% - 80px);
}

.intro__title,
.intro__sub {
  color: #dbdbdb;
}

.intro__title {
  font-size: 64px;
}

.intro__sub {
  font-weight: 300;
}

.intro__talk {
  cursor: pointer;
}

@media (max-width: 768px) {
  .intro__title {
    font-size: 48px;
  }
}