.experience__container {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100vw;
}

.experience__background {
  height: 128px;
  width: calc((100% - 1000px)/2);
  background-color: #222222;
  z-index: 1;
}

.experience__conveyor {
  position: relative;
  display: flex;
  padding-top: 80px;
  width: 100%;
  max-width: 1000px;
  background-color: transparent;
}

.experience__start,
.experience__end {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 80px;
  height: 128px;
  width: 128px;
  background-color: gray;
  z-index: 1;
}

.experience__end {
  right: 0;
}

.experience__red,
.experience__green {
  margin: 16px 0;
  height: 16px;
  width: 16px;
}

@keyframes glow {
  0% {
    filter: brightness(1);
  }

  80% {
    filter: brightness(1);
  }

  90% {
    filter: brightness(2);
  }

  100% {
    filter: brightness(1);
  }
}

.experience__red {
  background-color: rgb(120, 0, 0);
  animation: glow 2s infinite;
}

.experience__green {
  background-color: rgb(64, 142, 64);
  animation: glow 2s -1s infinite;
}

.experience--languages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  animation: conveyor 32s linear infinite;
}

.right {
  flex-direction: row-reverse;
  animation: conveyor 32s linear infinite reverse;
}

@keyframes conveyor {
  from {
    translate: 0 0;
  }

  to {
    translate: -2048px 0;
  }
}

.experience__language {
  display: flex;
  align-items: center;
  height: 128px;
  width: 128px;
  padding: 16px;
  cursor: pointer;
  transition: scale 200ms, opacity 200ms;
}

.experience__language:hover {
  scale: 0.9;
  opacity: 0.7;
}