.experience__container {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100vw;
}

.experience__background {
  height: 128px;
  width: calc((100% - 1000px)/2);
  background-color: #222222;
  z-index: 1;
}

.experience__conveyor {
  position: relative;
  display: flex;
  padding-top: 80px;
  width: 1000px;
  background-color: #222222;
}

.experience__start,
.experience__end {
  position: absolute;
  top: 80px;
  height: 128px;
  width: 80px;
  background: linear-gradient(270deg, black, #222222);
  z-index: 1;
}

.experience__end {
  background: linear-gradient(90deg, black, #222222);
  right: 0;
}

.experience--languages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  animation: conveyor 15s linear infinite;
}

.right {
  flex-direction: row-reverse;
  animation: conveyor 15s linear infinite reverse;
}

@keyframes conveyor {
  0% {
    translate: 0 0;
  }

  100% {
    translate: -2048px 0;
  }
}

.experience__language {
  display: flex;
  align-items: center;
  height: 128px;
  width: 128px;
  padding: 16px;
  cursor: pointer;
  transition: scale 200ms, opacity 200ms;
}

.experience__language:hover {
  scale: 0.9;
  opacity: 0.7;
}