.experience {
  height: 180vh;
}

.experience__title {
  padding: 64px;
  font-size: 64px;
}

.experience__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .experience__title {
    padding: 32px 0;
  }
}

@media (max-width: 480px) {
  .experience__title {
    padding: 0 0 16px 0;
  }
}