.experience--jobs {
  position: relative;
  display: grid;
  grid-template-areas: "top top top top top top"
    "tube tube screen screen screen screen"
    ". . . left right .";
  padding: 32px;
  background-color: #333;
  border-radius: 24px;
}

.experience__top {
  grid-area: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience__light,
.experience__blue {
  margin: 8px 16px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.experience__light {
  background-color: #a00;
  box-shadow: 0 -2px 14px 2px #00000033,
    inset 0 -2px 18px #441313;
  transition: background-color 150ms, box-shadow 150ms;
}

.light {
  background-color: #f00;
  box-shadow: 0 -2px 14px 2px #00000033,
    inset 0 -2px 18px #441313,
    0 0 24px #ff000080;
}

.experience__blue {
  background-color: #00a;
  box-shadow: 0 -2px 14px 2px #00000033,
    inset 0 -2px 18px #131355;
  transition: background-color 150ms, box-shadow 150ms;
}

.experience--jobs:hover .experience__blue {
  background-color: #00f;
  box-shadow: 0 -2px 14px 2px #00000033,
    inset 0 -2px 18px #131355,
    0 0 24px #0000ff80;
}

.experience__tubes {
  grid-area: tube;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience__tube {
  position: relative;
  margin: 8px;
  padding-top: 8px;
  height: 240px;
  width: 64px;
  background-color: #f8f8f840;
  background-repeat: no-repeat;
  background-size: 12px 2px,
    12px 2px,
    12px 2px,
    12px 2px;
  background-position: left 20%,
    left 40%,
    left 60%,
    left 80%;
  background-image: linear-gradient(#272822, #272822),
    linear-gradient(#272822, #272822),
    linear-gradient(#272822, #272822),
    linear-gradient(#272822, #272822);
  border-radius: 8px;
  overflow: hidden;
  transition: padding-top 300ms;
}

.experience__tube::before,
.experience__tube::after {
  content: '';
  position: absolute;
  left: 8px;
  width: 4px;
  background-color: #f8f8f840;
  border-radius: 4px;
}

.experience__tube::before {
  top: 8px;
  height: 56px;
}

.experience__tube::after {
  top: 72px;
  height: 154px;
}

@keyframes fluid {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

.experience__fluid {
  position: absolute;
  height: 50%;
  width: 100%;
}

.experience__fluid::after,
.experience__fluid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 224px;
  height: 224px;
  background: #9de;
  box-shadow: 0 0 24px #99ddee80;
  animation: fluid 4s infinite linear;
}

.experience__fluid::before {
  border-radius: 72px;
  opacity: 0.7;
}

.experience__fluid::after {
  border-radius: 56px;
  opacity: 0.3;
  animation-direction: reverse;
}

.experience__arrow {
  position: relative;
  height: 0;
  border-left: 8px solid #272822;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  z-index: 1;
}

.experience__date {
  position: relative;
  height: 12px;
  padding-left: 16px;
  z-index: 1;
}

.experience__screen {
  position: relative;
  grid-area: screen;
  margin: 8px;
  padding: 20px;
  width: 400px;
  height: 240px;
  background-color: #000;
  background-image: radial-gradient(#00900080,
      #000 120%);
  border: 16px solid;
  border-image: linear-gradient(-16deg, #333, #222) 64;
  border-radius: 4px;
  color: white;
  text-shadow: 0 0 4px #c8c8c8;
}

.experience__screen::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15) 1px,
      transparent 1px,
      transparent 2px);
}

.experience__employer,
.experience__position {
  color: #efe;
  font-family: Inconsolata, monospace;
}

.experience__bullet {
  color: #efe;
  font-family: Inconsolata, monospace;
}

.experience__left,
.experience__right {
  margin: 12px;
  padding: 16px;
  border: solid #444;
  border-width: 0 12px 12px 0;
  cursor: pointer;
}

.experience__left {
  grid-area: left;
  rotate: 135deg;
}

.experience__right {
  grid-area: right;
  rotate: -45deg;
}