* {
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  line-height: 1.25;
}

.loading {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: opacity 300ms ease;
}

.loading div {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 16px;
  color: #fff;
  font-size: 22px;
}

.loading h1 {
  margin-bottom: -28px;
  font-size: 90px;
  font-weight: 400;
  text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fff;
}

.loading h2 {
  margin-bottom: -8px;
  color: #d1405f;
  font-size: 90px;
  font-weight: 400;
  text-shadow: 0 0 2px #d1405f, 0 0 4px #d1405f, 0 0 6px #d1405f, 0 0 8px #d1405f;
}

.loading h4 {
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #fff;
}

.loading span {
  color: #d1405f;
  text-shadow: 0 0 1px #d1405f, 0 0 2px #d1405f, 0 0 3px #d1405f, 0 0 4px #d1405f;
}
