@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Work+Sans:wght@300;500&display=swap');

* {
  font-family: "Work Sans", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #1d1e24;
  line-height: 1.25;
}

p,
label {
  font-family: 'Nunito Sans', sans-serif;
}

label {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  padding: 40px 16px;
}

.secondary {
  color: #d1405f;
}

/* intro__circle */

.intro__circle {
  position: absolute;
  top: -120px;
  left: -160px;
  background-color: #f8f8f8;
  height: 240px;
  width: 320px;
  border-radius: 50%
}

.nav__burger {
  position: absolute;
  top: 160px;
  left: 216px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.nav__burger:hover {
  cursor: pointer;
}

.nav__line {
  width: 24px;
  height: 2px;
  background-color: #242424;
  transition: all 300ms ease;
}

.nav__line::before,
.nav__line::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #000000;
  transition: all 300ms ease;
}

.nav__line::before {
  transform: translate(-12px, -8px);
}

.nav__line::after {
  transform: translate(-12px, 8px);
}

/* intro__text */

.intro {
  background-color: #242424;
  height: 100vh;
}

.intro__title,
.intro__sub {
  color: #dbdbdb;
}

.intro__title {
  font-size: 64px;
}

.intro__sub {
  font-weight: 300;
}