@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Work+Sans:wght@300;500&display=swap');

* {
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #1d1e24;
  line-height: 1.25;
}

p,
label {
  font-family: "Nunito Sans", sans-serif;
}

label {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

img {
  width: 100%;
}

section {
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 16px;

}

.secondary {
  color: #d1405f;
}

.click {
  transition: scale 100ms ease;
}

.click:hover {
  scale: 1.2;
  opacity: 0.9;
}

.click:active {
  scale: 0.9;
  opacity: 0.7;
}

.page {
  background-color: #161616;
}

.main__wrapper {
  height: 200vh;
  background-color: #161616;
  transform-origin: top left;
  transition: rotate 500ms cubic-bezier(1, 0, 0.25, 1), filter 700ms ease;
}

.main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: height 500ms cubic-bezier(1, 0, 0.25, 1);
  perspective: 0px;
}

/* scrollbar */

.main::-webkit-scrollbar {
  width: 8px;
}

.main::-webkit-scrollbar-track {
  background-color: #222;
}

.main::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 4px;
}

.main {
  -ms-overflow-style: none;
  scrollbar-width: 8px;
  scrollbar-color: #222 #333;
}

/* nav_background */

.nav__background {
  position: absolute;
  height: 100%;
  width: 412px;
  background: linear-gradient(to top right, #222 0%, #222 50%, transparent 50%, transparent 100%);
  transform-origin: top left;
  rotate: 30deg;
  transition: rotate 500ms cubic-bezier(1, 0, 0.25, 1);
}

.nav__link,
.nav__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__button {
  padding: 4px;
}

.nav__button:hover .nav__link__icon,
.nav__button:hover .nav__link__name,
.nav__social__icon:hover {
  opacity: 0.7;
  translate: 0px -2px;
}

.nav--socials {
  display: grid;
  grid-template-areas:
    ". top ."
    "left . right"
    ". bottom .";
  width: 96px;
  height: 96px;
  margin: 200px 0 0 -96px;
  transition: margin 500ms cubic-bezier(1, 0, 0.25, 1) 50ms;
}

.nav__social__icon {
  height: 32px;
  width: 32px;
  padding: 4px;
  color: #f8f8f8;
  border: solid 2px #f8f8f8;
  border-radius: 50%;
  transition: opacity 100ms, translate 100ms;
  ;
}

.nav__social__name {
  position: absolute;
  top: 312px;
  left: 4px;
  width: 120px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #f8f8f8;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms;
}

.nav--linkedin {
  grid-area: top;
}

.nav--github {
  grid-area: left;
}

.nav--email {
  grid-area: right;
  cursor: copy;
}

.nav--resume {
  grid-area: bottom;
}

.nav--linkedin:hover .nav__name--linkedin,
.nav--github:hover .nav__name--github,
.nav--email:hover .nav__name--email,
.nav--resume:hover .nav__name--resume {
  opacity: 1;
  visibility: visible;
  translate: 0px -8px;
}

.nav--links {
  margin-top: 80px;
}

.nav__link__icon {
  height: 64px;
  width: 64px;
  padding: 16px;
  color: #f8f8f8;
  border: solid 2px #f8f8f8;
  border-radius: 50%;
  transition: opacity 100ms, translate 100ms;
}

.nav__link__name {
  padding: 8px;
  font-size: 28px;
  font-weight: 300;
  color: #f8f8f8;
  transition: opacity 100ms, translate 100ms;
}

.nav__button:focus .nav__link__icon,
.nav__button:focus .nav__link__name {
  color: #d1405f;
  border-color: #d1405f;
}

.nav--home {
  margin-left: -208px;
  transition: margin 500ms cubic-bezier(1, 0, 0.25, 1) 100ms;
}

.nav--projects {
  margin-left: -216px;
  transition: margin 500ms cubic-bezier(1, 0, 0.25, 1) 150ms;
}

.nav--experience {
  margin-left: -224px;
  transition: margin 500ms cubic-bezier(1, 0, 0.25, 1) 200ms;
}

.nav--contact {
  margin-left: -232px;
  transition: margin 500ms cubic-bezier(1, 0, 0.25, 1) 250ms;
}

/* nav__circle */

.nav__circle {
  position: absolute;
  top: -160px;
  left: -120px;
  background-color: #f8f8f8;
  height: 320px;
  width: 320px;
  border-radius: 50%;
  z-index: 5;
  box-shadow: 6px 1px 0 6px #f8f8f80f,
    6px 1px 0 12px #f8f8f80f,
    6px 1px 0 18px #f8f8f80f,
    inset -12px -2px 4px 8px #eeeee0;
  transition: rotate 500ms cubic-bezier(1, 0, 0.25, 1);
}

.nav__circle:hover {
  cursor: pointer;
}

.nav__circle::after {
  content: '';
  position: absolute;
  background-color: #eeeee0;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  top: 172px;
  left: 128px;
  box-shadow: 48px -16px 0 16px #eeeee0,
    16px 40px 0 8px #eeeee0,
    -48px -8px 0 12px #eeeee0,
    0px -40px 0 8px #eeeee0;
}

.nav--bars,
.nav--times {
  position: absolute;
  width: 32px;
  height: 32px;
}

.nav--bars {
  top: 216px;
  left: 200px;
}

.nav--times {
  top: 216px;
  left: 88px;
  rotate: 75deg;
}

/* stars */

.stars {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.stars__container {
  transform-style: preserve-3d;
}

.stars--1 {
  transform: translateZ(-8px) scale(10.4);
  box-shadow: -7vw -17vh 4px -1px #fff2,
    3vw 85vh 4px 0px #fff2,
    17vw -5vh 3px -1px #fff2,
    48vw 103vh 3px 0px #fff1,
    35vw 106vh 4px 0px #fff2,
    30vw 89vh 3px 0px #fff3,
    -34vw -16vh 3px 0px #fff3,
    44vw 9vh 4px 0px #fff3,
    -2vw 0vh 3px -1px #fff3,
    34vw -21vh 4px 0px #fff3,
    11vw 92vh 4px 0px #fff1,
    -35vw 46vh 3px 0px #fff1,
    14vw -28vh 4px 0px #fff2,
    12vw 91vh 4px -1px #fff3,
    -35vw 89vh 4px -1px #fff1,
    -44vw -10vh 4px -1px #fff3,
    21vw 74vh 4px 0px #fff2,
    -38vw 103vh 3px -1px #fff1,
    -47vw 15vh 4px -1px #fff3,
    -29vw 60vh 4px 0px #fff3,
    1vw 18vh 3px 0px #fff1,
    3vw 105vh 4px -1px #fff1,
    42vw -4vh 3px -1px #fff1,
    -46vw 22vh 4px 0px #fff3,
    12vw 29vh 3px 0px #fff3,
    -15vw 88vh 3px 0px #fff2,
    8vw 100vh 3px -1px #fff2,
    28vw 5vh 4px -1px #fff1,
    2vw -17vh 4px 0px #fff2,
    33vw 85vh 3px 0px #fff3,
    17vw 9vh 3px 0px #fff2,
    22vw 37vh 3px -1px #fff2,
    42vw 82vh 4px 0px #fff1,
    30vw 15vh 3px 0px #fff3,
    -15vw 49vh 4px 0px #fff1,
    -12vw 20vh 3px -1px #fff3,
    11vw 62vh 3px -1px #fff1,
    1vw 0vh 4px 0px #fff1,
    16vw 101vh 3px -1px #fff3,
    -8vw 11vh 3px -1px #fff2,
    -16vw -20vh 3px -1px #fff1,
    29vw 65vh 4px 0px #fff2,
    39vw 9vh 4px 0px #fff1,
    33vw 85vh 4px -1px #fff1;
}

.stars--2 {
  transform: translateZ(-10px) scale(13.6);
  box-shadow: 11vw 20vh 3px -3px #fff1,
    -13vw 38vh 2px -3px #fff2,
    -41vw 21vh 2px -2px #fff1,
    -38vw 83vh 2px -3px #fff1,
    1vw 51vh 2px -3px #fff2,
    18vw 60vh 3px -2px #fff1,
    -11vw 60vh 3px -2px #fff2,
    -37vw 5vh 2px -2px #fff3,
    -44vw 34vh 2px -3px #fff3,
    -43vw 24vh 2px -2px #fff2,
    10vw -25vh 2px -3px #fff1,
    -41vw 9vh 2px -3px #fff2,
    16vw -33vh 2px -2px #fff3,
    18vw 69vh 3px -3px #fff2,
    -35vw 76vh 3px -2px #fff1,
    22vw 53vh 2px -3px #fff2,
    -5vw 46vh 3px -3px #fff1,
    -26vw 3vh 3px -2px #fff3,
    14vw 42vh 2px -3px #fff3,
    -17vw 69vh 2px -2px #fff2,
    24vw -12vh 2px -3px #fff1,
    -33vw 36vh 3px -3px #fff1,
    -9vw -34vh 3px -3px #fff2,
    -23vw 3vh 2px -3px #fff2,
    24vw -8vh 3px -3px #fff3,
    -4vw 7vh 2px -2px #fff2,
    -18vw 6vh 2px -3px #fff2,
    43vw 28vh 3px -3px #fff3,
    34vw 2vh 2px -3px #fff2,
    33vw 74vh 3px -3px #fff2,
    -37vw 22vh 3px -2px #fff2,
    29vw -12vh 3px -2px #fff3,
    -3vw 80vh 2px -3px #fff2,
    -23vw 4vh 3px -2px #fff1,
    -15vw 20vh 2px -2px #fff1,
    -11vw 39vh 3px -2px #fff2,
    -46vw -6vh 2px -2px #fff2,
    38vw -25vh 3px -3px #fff1,
    48vw 90vh 3px -2px #fff1,
    36vw -16vh 3px -3px #fff2,
    43vw 70vh 3px -3px #fff3,
    -30vw -15vh 3px -3px #fff1,
    -30vw 74vh 3px -3px #fff1,
    12vw 5vh 3px -3px #fff2;
}

/* intro */

.intro {
  height: 100vh;
  transform-style: preserve-3d;
}

.intro__constellation {
  position: absolute;
  opacity: 0.5;
  filter: blur(2px);
  transition: opacity 100ms ease;
  transform: translateZ(-0.5px) scale(1.7);
}

.intro__constellation--1 {
  top: 88%;
  left: 24%;
  width: 22%;
}

.intro__constellation--2 {
  top: 8%;
  left: 104%;
  width: 14%;
}

.intro__constellation--3 {
  top: 40%;
  left: -20%;
  width: 10%;
}

.intro__constellation--4 {
  top: -8%;
  left: 40%;
  width: 22%;
}

.intro__constellation--5 {
  top: 68%;
  left: 84%;
  width: 22%;
}

.intro__dark {
  position: absolute;
  right: 32px;
  top: 32px;
  height: 32px;
  width: 32px;
  color: #f8f8f8;
  cursor: pointer;
}

.intro__text {
  width: 600px;
  margin-top: 18%;
  margin-right: 10%;
}

.intro__title,
.intro__sub {
  color: #dbdbdb;
}

.intro__title {
  font-size: 64px;
}

.intro__sub {
  font-weight: 300;
}

/* projects */

.projects {
  height: 120vh;
}

.projects__title {
  padding: 64px;
  font-size: 64px;
}

.projects__system {
  position: relative;
  width: 100%;
  height: 600px;
}

.projects__sun,
.projects__planet {
  position: absolute;
  top: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.projects__sun {
  left: 50%;
  height: 384px;
  width: 384px;
  background-color: #fb0;
  z-index: 2;
  box-shadow: 0 0 16px #fb0, 0 0 64px #fb0, 0 0 160px yellow, inset 0 0 80px yellow;
  transition: opacity 300ms;
}

.projects__pause {
  width: 200px;
  height: 200px;
  color: #ffc000;
}

/* experience */

.experience {
  height: 180vh;
}

.experience__title {
  padding: 64px;
  font-size: 64px;
}

.experience__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* contact */

.contact {
  height: 144vh;
}

.contact__title {
  padding: 64px;
  font-size: 64px;
}

.contact__ufo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 600px;
}

.contact__glass {
  width: 160px;
  height: 72px;
  background-color: #f8f8f840;
  border-top: 2px solid #f8f8f8;
  border-radius: 50% / 100% 100% 0 0;
  box-shadow: inset -4px -4px 20px #222;
}

.contact__belt {
  margin: -5px 0;
  width: 160px;
  height: 12px;
  background: linear-gradient(90deg, #777, #aaa, #777);
  z-index: 0;
}


.contact__top,
.contact__bottom {
  width: 400px;
  height: 56px;
}

.contact__top {
  border-radius: 50% / 100% 100% 0 0;
  background: linear-gradient(#afafaf, #777);
}

.contact__bottom {
  border-radius: 50% / 0 0 100% 100%;
  background: linear-gradient(#777, #afafaf);
}

.contact__line {
  margin: -2px 0;
  width: 400px;
  height: 4px;
  background-color: #111;
}

@keyframes beam-top {
  0% {
    border-bottom: 400px solid #66ff6644;
  }

  50% {
    width: 200px;
    border-bottom: 200px solid #66ff6644;
    border-left: 44px solid transparent;
    border-right: 44px solid transparent;
  }

  100% {
    border-bottom: 400px solid #66ff6644;
  }
}

@keyframes beam-bottom {
  0% {
    bottom: -432px;
  }

  50% {
    bottom: -232px;
    left: -44px;
    width: 200px;
  }

  100% {
    bottom: -432px;
  }
}

.contact__light {
  position: relative;
  margin-top: 5px;
  height: 0;
  width: 400px;
  border-bottom: 400px solid #66ff6644;
  border-left: 144px solid transparent;
  border-right: 144px solid transparent;
  animation: beam-top 20s infinite;
}

.contact__light::after {
  content: '';
  position: absolute;
  bottom: -432px;
  left: -144px;
  width: 400px;
  height: 64px;
  background-color: #44aa4444;
  border-radius: 50%;
  animation: beam-bottom 20s infinite;
}

.contact__light::before {
  content: '';
  position: absolute;
  bottom: -432px;
  left: -144px;
  width: 400px;
  height: 32px;
  background-color: #66ff6644;
  border-radius: 50% / 0 0 100% 100%;
  animation: beam-bottom 20s infinite;
}

.contact__form {
  margin-top: -384px;
  display: flex;
  flex-direction: column;
  width: 60%;
  z-index: 1;
}

.contact__box {
  width: 100%;
}

.contact__name,
.contact__email,
.contact__subject,
.contact__message,
.contact__submit {
  margin: 4px;
  padding: 16px;
  background-color: #333333dd;
  border: none;
  border-bottom: 4px solid transparent;
  border-radius: 8px;
  outline: none;
  color: #f8f8f8;
  font-size: 16px;
  font-weight: 300;
}

.contact__name,
.contact__email {
  width: calc(50% - 8px);
}

.contact__message {
  height: 200px;
  max-height: 520px;
  min-height: 64px;
  max-width: calc(100% - 8px);
  resize: vertical;
}

.contact__name:hover,
.contact__email:hover,
.contact__subject:hover,
.contact__message:hover,
.contact__submit:hover {
  border-bottom: 4px solid #44aa4444;
}

.contact__submit:hover {
  cursor: pointer;
}

.contact__name:focus,
.contact__email:focus,
.contact__subject:focus,
.contact__message:focus {
  border-bottom: 4px solid #66ff6688;
}

.contact__submit:active {
  border-bottom: 4px solid #66ff6688;
}

/* footer */

.footer {
  height: 200px;
}

.footer__name {
  margin: 8px;
  color: #f8f8f8;
  font-weight: 300;
  border-bottom: 1px solid transparent;
}

.footer__name:hover {
  border-bottom: 1px solid #f8f8f8;
}

.footer__socials {
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  height: 56px;
  width: 56px;
  font-size: 36px;
  color: #f8f8f8;
  border: 2px solid #f8f8f8;
  border-radius: 50%;
  transition: opacity 100ms, translate 100ms;
}

.footer__social:hover {
  opacity: 0.7;
  translate: 0px -2px;
}

/* open */

.open .main {
  height: 200vh;
}

.open .main__wrapper {
  rotate: -30deg;
}

.open .nav__circle {
  rotate: -75deg;
}

.open .nav__background {
  rotate: 0deg;
}

.open .nav--socials {
  margin-left: 16px;
}

.open .nav--home {
  margin-left: 4px;
}

.open .nav--projects {
  margin-left: 12px;
}

.open .nav--experience {
  margin-left: 20px;
}

.open .nav--contact {
  margin-left: 28px;
}

/* hidden */

.hidden {
  opacity: 0;
  transition: opacity 500ms 100ms;
}

.shown {
  opacity: 1;
}